body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav nav nav"
    "main main main"
    "aside aside aside"
    "footer footer footer";
    background-color: #ffff;
}
header {
    grid-area: header;
    margin: -10px;
}
main {
    margin: 50px;
    color: black;
    display: grid;
    text-align: center;
    word-wrap: break-word;
}
/*This is the navigation for the desktop version, my reason for this has been noted in the report. */
nav {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    text-align: right;
    padding: 20px;
}
/*this is the video demonstration for the website*/
#kmsembed-0_fr3cf630 {
    display: grid;
    position: relative;
    padding: 10px;
    border: 5px solid rgb(54, 50, 117);
    background-color: rgb(63, 56, 129);
    display: block;
    margin: 100px;
}
/*this is how i have removed the hamburger menu icon and the functionality behind it */
#toggle .on {
    display: none;
}
#toggle .off {
    display: none;
}
.showNav {
    display: none;
}
.closeNav {
    display: none;
}
/*this is the size configuration for the desktop variation, it doesnt look right with the mobile configurations and vice versa so i had to reevaluate it.*/
form {
    display: grid;
    margin-left: 10;
    margin-right: -10px;
    padding: 8px;
    border: 10px solid rgb(54, 50, 117);
    background-color: rgb(54, 50, 117);
    border-radius: 25px;
    display: inline-block;
}
label {
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: rgb(63, 56, 129);
    color: white;
    text-decoration: underline none;
}
#name  {
    width: 40em; 
    height: 2em;
}
#email {
    width: 40em; 
    height: 2em;
}
#message {
    width: 40em; 
    height: 20em;
}
.showtell {
    margin: 50px;
}