body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "message"
    "aside"
    "footer";
}

header {
    grid-area: header;
}
nav {
    background-color: rgb(54, 50, 117);
}
nav li {
    display: inline;
}
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #ffff;
}
main {
    background-color: white;
    color: white;
    grid-area: main;
}
aside {
    background-color: rgb(211, 100, 59);
    grid-area: aside;
    text-align: center;
    color: white;
}
footer {
    background-color: rgb(54, 50, 117);
    color: white;
    grid-area: footer;
}
footer h1 {
    color: white;
    text-decoration: underline none;
}