body {
    background-color: rgb(54, 50, 117);
}
.open {
    background: none;
    float: right;
    height: 1em;
    width: 2em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}
nav {
    display: fixed;
    background-color: rgb(211, 100, 59);
    position: fixed;
    top: 0;
    left: 65%;
    width: 50%;
    height: 100vh;
    border: none;
}
.close {
    background: none;
    float: right;
    height: 1em;
    width: 2em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    position: absolute;
    margin-top: 10px;
    margin-left: 30vh;
}