header {
    background-color: rgb(54, 50, 117);
    color: white;
    padding: 20px;
    grid-area: header;
    }
nav {
    background-color: rgb(54, 50, 117);
    grid-area: nav;
}
main {
    background-color: rgb(54, 50, 117);
    color: white;
    grid-area: main;
}
aside {
    background-color: lightgreen;
    grid-area: aside;
}
footer {
    background-color: rgb(54, 50, 117);
    color: white;
    grid-area: footer;
}